@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
list-style: none;
text-decoration: none;

}

:root{
    --red: #d63a25;
    --white: #fff;
    --dark: #1e1c2a;

}
.container {
    position: relative;
  }
  
  #image {
    
    position: absolute;
    width: 100%;
  }
  
  #texto {
    position: absolute;
    font-size: 40px;
    left: 160px;
    top: 20px;
    color: #fff;
  }
  #texto-p {
    position: absolute;
    font-size: 40px;
    left: 100px;
    top: 159px;
    color: #fff;
  }
  
  .container p{
    margin-bottom: 4rem;
  }
  .home-btn{
    padding: 5px 20px;
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    border-radius: 10px;
    font-weight: 20;
    transition: all 0.5s;
  }

.home-btn:hover{
    background-image: linear-gradient(to top, #e8198b 0%, #c7eafd 100%);
}
  

body{
    color: black;

}
 

.navegation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: black;
    transition: all 0.5s;
    

}

.navegation .logo{
    color: #fff;
    font-size: 1.7rem;
    font-weight: 600;

}
.logo span{
    color: var white;
}

.navegation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navegation ul li a{
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;

}

.navegation ul li a:hover{
    color: rgb(207, 136, 198);
}

.navegation i{
    cursor: pointer;
    font-size: 1.5rem;

}

.menu{
    cursor: pointer;
    display: none;
}

.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--white);
    margin: 5px auto;
    transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: #fff;
}
@media (max-width:785px){
    .navegation{
        padding: 18px 20px;
    }

.menu{
    display: fixed;
}
.menu .ativo .bar:nth-child(1){
    transform: translateY(8px); rotate: (45deg);

}
.menu .ativo.bar:nth-child(2){
    opacity: 0;

}
.menu.ativo .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}
.nav-menu{
    position: fixed;
    right: -100%;
    top: 70px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: #e3eeff;
    gap: -10px;
    transition: 0.3s;
}
.nav-menu.ativo{
    right: 0;
}
.nav-item{
    margin: 16px 0;
}
/*main*/
.home{
    padding: 100px 2%;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    gap: 5rem;
}
.home .text-h4{
    font-size: 15px;
}
.home .text-h1{
    font-size: 2.5rem;
    line-height: 3rem;
}
.home p{
    font-size: 15px;
}
.home-img{
    width: 125%;
}
}
